/*
header, footer {
    color: white;
    background: #303F9F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}

h1.title {
    font-size: 4em;
    font-weight: bold;
}

pre {
    background: #212121;
    color: white;
}

header p {
    font-size: 1.4em;
}

footer {
    padding: 50px 0;
    text-align: center;
    font-size: 1.1em;
    margin-top: 3em;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}
*/
/* picker */
.color-picker {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border: 1px solid rgba(203, 203, 203, 0.6);
    border-radius: 2px;
    position: absolute;
    margin-left: -120px;
    width: 300px;
    z-index: 10;
    margin-top: 35px;
}

.color-picker > div {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin: 3px;
    border-radius: 100%;
    opacity: 0.7;
    
}

.picker-wrapper {
    padding: 20px;
    display: inline;
}

.color-picker > div:hover {
    opacity: 1;
}